<section>
    <div class="flex" style="justify-content: space-between;">
        <aside>
            <ul>
                <li><a routerLink="createProduct" class="trans link">Create Product</a></li>
                <li><a routerLink="viewAllProds" class="trans link">View All Product</a></li>
                <li><a routerLink="releaseProduct" class="trans link">Make Product Available</a></li>
            </ul>
        </aside>
        <main>
            <router-outlet></router-outlet>
        </main>
    </div>
</section>